<script setup lang="ts">
import { RouterView } from 'vue-router'
import { ModeToggle } from '@/components/mode-toggle'
</script>

<template>
  <div class="min-h-screen bg-background">
    <header class="sticky top-0 z-50 w-full border-b border-border/40 bg-background/95 backdrop-blur supports-[backdrop-filter]:bg-background/60">
      <div class="container flex h-14 max-w-screen-2xl items-center">
        <div class="mr-4 flex">
          <a href="/" class="mr-4 flex items-center space-x-2 lg:mr-6">
            <span class="hidden font-bold lg:inline-block">{{projectName}}</span>
          </a>
        </div>
        <div class="flex flex-1 items-center justify-between space-x-2 md:justify-end">
          <nav class="flex items-center">
            <ModeToggle />
          </nav>
        </div>
      </div>
    </header>
    <main class="flex-1">
      <RouterView />
    </main>
  </div>
</template>